<!-- Cabeçalho da página direcionando para a mesma -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goToHomePage()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="goToFavoritesPage()">
        <ion-icon slot="icon-only" name="star"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <!-- Card Pokémon -->
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngIf="pokemon">
      <ion-card-header>
        <!-- Nome do Pokémon -->
        <ion-card-title class="pokemon-name">{{ pokemon.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="content">
         <!-- Imagem do Pokémon -->
        <img [src]="pokemon.sprites.front_default" alt="Imagem do Pokémon">
        <div>
           <!-- Botão direcionando para página de detalhes sobre o Pokémon -->
          <ion-button class="btnDetails" (click)="goToDetailsPage()">Detalhes</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>